/* Global */
@media (min-width: 468px) {
  .container-2 {
    display: flex;
  }
}

body {
  background: #333;
  color: white;
  font-family: "Gugi", cursive;
}

header {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

/* Buttons */
.container-1 {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background: black;
  border: red 5px solid;
  border-radius: 5px;
  text-align: center;
}

button {
  padding: 1rem;
  background-color: #333;
  border: white 1px solid;
  margin-top: 1rem;
  color: white;
  border-radius: 15px;
}

button#pc {
  color: green;
}

button#s1h {
  color: yellow;
}

button#pb {
  color: red;
}

/* Flex */
.container-2 {
  display: flex;
}

.container-2 div {
  /* border: 1px #ccc solid; */
}

.container-3 {
  display: flex;
  border-top: white 1px solid;
  padding: 3rem;
}

.container-3 .box-1 {
  border: #ccc 5px solid;
  margin-right: 1.5rem;
  border-radius: 1rem;
}

.container-3 .box-2 {
  border: #ccc 5px solid;
  margin-left: 1.5rem;
  border-radius: 1rem;
  padding-bottom: 1rem;
}

.box-1 {
  flex: 1;
}

.box-2 {
  flex: 1;
}

.box-3 {
  flex: 1;
}

.box-4 {
  flex: 1;
}

/* Lists */
li {
  list-style-type: none;
  margin-bottom: 5px;
}

/* Events */
#newEvent,
#seeEvent {
  display: none;
  border-top: white 1px solid;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

/* BOLOs */
.bolos {
  border-top: white 1px solid;
}

/* References */
#codeList,
#cad,
#policeDatabase,
#policeDatabaseVRL,
#policeDatabaseIRL,
#policeDatabaseCRL,
#policeDatabaseCR,
#policeDatabaseAR,
#policeDatabaseWWR {
  display: none;
}

.ref {
  margin-bottom: 3rem;
  border-top: white 1px solid;
}

/* Supervisors */
.supervisors {
  border-top: white 1px solid;
}

/* Information */
.info {
  border-top: white 1px solid;
}

/* Colors */
.gold {
  color: #ffd700;
}

.red {
  color: #8b0000;
}

.flame {
  color: #e25822;
}

.darkblue {
  color: #003366;
}

.bold {
  font-weight: bold;
}

/* Footer */
footer {
  font-size: 25px;
  text-align: center;
  margin-top: 1rem;
  border-top: black 1rem solid;
  padding: 3rem;
}

footer a {
  text-decoration: none;
  color: #ffd700;
}
